.equalColumns1 {
	background-color:#FFD6BA;
	
}  
 .equalColumns2 {
	background-color: #FAF9F9;
	
} 
.equalColumns3 {
	background-color:  #BEE3DB;
	
} 

.HeaderTile1 {
    background-color: #89B0AE;  
   border-radius: 5px;
 } 
 .HeaderTileText1{
      color: #555B6E;
 }

 .HeaderTileStatusText1{
	color: #EAE2B7;
}