/* external css - element */
body {
    background-color: rgb(100, 0, 194);
  }
  
  
  h2 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: cursive;
    font-size: 20px;
    color: greenyellow;
  }

  /* external css - grouping */

  h3 {
    color: rgb(8, 0, 0);
    text-align: end;
  }

   /* external css - Universal

   * {
    font-family: cursive;
    font-size: 30px;
    color: greenyellow;
  }
 */ 
  /* external css - Based on Id */ 
  #productid {
    font-family: cursive;
    font-size: 20px;
    color: turquoise;
  }

   /* external css - Based on class  we define CSS classes like "sapUiTinyMargin" and reuse and required places  */ 
  .UICursive {
    font-family: cursive;
    font-size: 20px;
    color:white;
    font-weight: bolder;
  },

  .sapUiTinyMargin{
// align-content: left: margin-top: 2rem ;margin-bottom:2rem margin-right:2rem ;
  }
  .sapUiSmallMargin{
    // align-content: left: margin-top: 3rem ;margin-bottom:3rem margin-right:3rem ;
      }

      sap.ui.Device-